body{
    background-color: #212529;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.button_link{
    color: #212529;
}
/*HEADER*/

header{
    width: 1600px;
    height: 66px;
    background: #212529;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.header_items{
    width: 429px;
    display: flex;
    justify-content: space-between;
}
.header_link:hover{
    color:#FFB742;
}

.header_link{
    color: #FFFFFF;
}
.header_button{
    width: 121px;
    height: 54px;
    background: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #212529;
    text-align: center;
    box-sizing: border-box;
    padding: 12px;
    margin-top: 6px;
}

/*ENTRY*/

.entry{
    width: 964px;
    height: 458.73px;
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-top: 108px;

}

.entry_item1{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 15px;
}
.entry_item1 span{
    color: #FFB742;
    text-decoration-line: underline;
}
.entry_item2{
    font-weight: 700;
    font-size: 48px;
}

.entry_item3{
    font-weight: 400;
    font-size: 24px;
    margin-top: 55px;
    margin-bottom: 22px;
}

/*CARDS*/
.cards{
    display: flex;
    justify-content: space-between;
    width: 1340px;
    margin: 0 auto;
    margin-top: 150px;
}

.card{
    width: 32%;
    background-color: #292B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 30px;
    border-radius: 10px;
    text-align: center;
}

.card_text > div:first-child{
    color: #FFB742;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}

.card:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%););
}

.card:hover .card_text > div{
    color: #212529; 
}
.card_text > div:last-child{
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

/*ABOUT ME*/

.about_me{
    display: flex;
    justify-content: space-between;
    width: 1340px;
    margin: 0 auto;
    margin-top: 220px;
}
.about_me_content{
    margin-left: 84px;
}

.h2_button_dark{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFB742;
    text-align: center;
    width: 192px;
    box-sizing: border-box;
    padding: 6px 25px;
   
    border-radius: 50px;
    background: #292B2E;
}

.h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.h2_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #D5D5D5;
    margin-bottom: 54px;
}

/*MY SKILLS*/

.skills{
    display: flex;
    justify-content: space-between;
    width: 1340px;
    height: 359px;
    margin: 0 auto;
}  

.skills_content{
    width: 680px;
}

.trstyle {
    background: rgba(255, 255, 255, 0.08);
    height: 80px;
}

.tdstyle {
    border-radius: 16px;
    width: 80px;
    
}

.tdstyle:hover {
    background: #FFB74250;
}

.tablestyle {
    width: 560px;
    height: 176px;
    border-spacing: 16px;
    padding: 0 0 0 40px;
}

.tdstyle>img {
    padding: 16px;
}


/*PORTFOLIO*/

.works_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 136px;
}

.work_list{
    display: flex;
    margin-top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.work_list > li > a{
    color: #FFFFFF;
}

.work_list > li{
    box-sizing: border-box;
    padding: 5px 20px;
    border-radius: 3px;
    margin-left: 24px;
}
.work_list > li:hover{
    background: #FFB742;
}

.work_list > li:hover a{
    color: #212529;
}

.portfolio{
    display: flex;
    justify-content: center;
    margin-bottom: 136px;
}

.portfolio_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 24px;
    box-sizing: border-box;
}

.portfolio_block img{
    padding-bottom: 30px;
}

/*TESTIMONIALS*/

.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards_review{
    display: flex;
    justify-content: space-between;
    width: 1234px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 254px;
}

.cards_review div:nth-child(2){
    margin: 0 40px
}
.review_card{
    width: 30%;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 50px 33px;
    box-sizing: border-box;
    text-align: left;
    align-content: flex-start;
}

.review_stars{
    margin-bottom: 25px;
}

.review_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-align: left;
}
.reviewer{
    display: flex;
    align-items: center;
    margin-top: 36px;
}

.reviewer_name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    box-sizing: border-box;
    padding-left: 24px;
}

.reviewer_name div:last-child{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/*FOOTER*/

footer{
    height: 470px;
    width: 1900px;
    margin: 0 auto;
    padding: 148px 50px 90px;
    background: #1C1C1C;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    
}
footer > div{
    max-width: 320px;
}

.footer_list{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
    color: #7B7B7B;
}

.footer_link{
    color: #7B7B7B;
}

.footer_link:hover{
    color: #FFB742;
}

.footer_division{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
}

.footer_division div:first-child{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFB742;
    margin-bottom: 30px;
}

.footer_list li:first-child{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    color: #F5FBF2;
}